* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3ead;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(225, 225, 225, 0.1);
}

.projetos .projetos-caixa a {
    text-decoration: none;
    color: var(--claro);
}

body {
    background-color: var(--escuro);
    color: #fff;
    font-size: 16px;
}

header {
    position: fixed;
    width: 100vw;
    left: 50%;
    padding: 25px;
    transform: translateX(-50%);
    /*Deixa o conteúdo totalmente no meio*/
    display: grid;
    /*Usa grid como display*/
    align-items: center;
    grid-template-columns: 1fr 600px;
    /*Usa o template de colunas, com o 1 item ocupando uma fração da tela e o resto 600px*/
    gap: 5%;
    z-index: 2;
    background: rgba(15, 23, 42, 0.267);
}


header img {
    width: 250px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*Função que repete os parâmetros*/
}

nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--primaria);
    text-decoration: underline;
}

section {
    background-image: radial-gradient(var(--secundaria), var(--escuro));
    height: 100vh;
    position: relative;
}

section .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;
}

section .list .item {
    position: absolute;
    inset: 0;
}

section .list .paulofreire {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translateY(-50%);
    width: 70%;
}

section .list .paulofreire img {
    width: 100%;
    max-width: 60%;
}

section .list .paulofreire ::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100px;
    top: 150%;
    left: 50px;
    border: 50%;
    filter: blur(50px);
}

section .list .item .content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

section .list .item .content .paulofreire-info {
    font-weight: bold;
}

section .list .item .content h2 {
    font-size: 8em;
    line-height: 1em;
    font-family: "League Gothic", sans-serif;
    text-align: end;
}

section .list .item .content .descricaopaulo {
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    max-width: 400px;
    text-align: justify;
}

section .list .item .content .information {
    z-index: 9999;
    pointer-events: auto;
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid var(--vidro);
    background-color: #9a1dcc;
    columns: #000;
    cursor: pointer;
    font-family: "League Gothic", sans-serif;
    color: var(--claro);
}

section .list .item #pokemon img {
    width: 100%;
    max-width: 40%;
    border-radius: 10%;
}

section .list .item #wikly img {
    width: 100%;
    max-width: 50%;
}

section .list .item .pokemon2 {
    font-size: 6em;
}

section .list .item #sussurros2 {
    font-size: 8em;
}

section .list::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    top: 50%;
    border-top: 1px solid white;
    pointer-events: none;
}

section .arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
}

section .arrows button:nth-child(1) img {
    transform: scale(-1);
}

section .arrows button {
    top: 60%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

section .arrows button img {
    width: 30px;
    cursor: pointer;
}

section .arrows button:hover {
    background-color: #beff1b;
}

section .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
    pointer-events: none;
}

section .indicators .number {
    font-size: 5em;
    font-family: "League Gothic", sans-serif;
}

section .indicators ul {
    display: flex;
    gap: 10px;
}

section .indicators ul li {
    width: 50px;
    height: 5px;
    background-color: #beff1b;
    border-radius: 50px;
    transition: 0.5s;
}

section .indicators ul .active {
    background-color: white;
}

section {

    & .list {

        & .item {
            transform: translateX(100vw);
            transition: 0.5s;
            opacity: 0;

            & .paulofreire {

                & img {
                    transform: rotate(0);
                    transition: 0.5;
                    transition-delay: 0.3s;
                }
            }

            & .content {

                & .paulofreire-info,
                h2,
                .descricaopaulo,
                .information {
                    transform: translateX(200px);
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .descricaopaulo {
                    transition-delay: 0.7s;
                }

                & .information {
                    transition-delay: 0.9s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5;
            opacity: 1;

            & .paulofreire {

                & img {
                    transform: rotate(0);
                }
            }

            & .content {

                & .paulofreire-info,
                h2,
                .descricaopaulo,
                .information {
                    transform: translateX(0px);
                    opacity: 1;
                }

            }
        }
    }
}

@media screen and (max-width: 1500px) {
    section .list .item .content h2 {
        font-size: 5em;
    }

    section .list .item .content .descricaopaulo {
        width: 40%;
    }

    section .list .item h2 {
        margin-top: 10vh;
    }

    section .list .item .content .pokemon2 {
        font-size: 3.6rem;
    }

    section .list .item #sussurros2 {
        font-size: 4em;
    }

    .section .list .item #pokem img {
        width: 1000px;
    }
}

@media screen and (max-width: 1920px) {
    section .list .item #pokemon2 {
        font-size: 6em;
    }
}