* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

a{
    color: var(--claro);
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3ead;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(225, 225, 225, 0.1);
}

.projetos .projetos-caixa a {
    text-decoration: none;
    color: var(--claro);
}

body {
    background-color: var(--escuro);
    color: #fff;
    font-size: 16px;
}

header {
    position: fixed;
    width: 100vw;
    left: 50%;
    padding: 25px;
    transform: translateX(-50%);
    /*Deixa o conteúdo totalmente no meio*/
    display: grid;
    /*Usa grid como display*/
    align-items: center;
    grid-template-columns: 1fr 600px;
    /*Usa o template de colunas, com o 1 item ocupando uma fração da tela e o resto 600px*/
    gap: 5%;
    z-index: 2;
    background: rgba(15, 23, 42, 0.267);
}


header img {
    width: 250px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*Função que repete os parâmetros*/
}

nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--primaria);
    text-decoration: underline;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho .foto-perfil {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite; 
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
    animation: flutuar 5s ease-in-out infinite;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    font-variant: var(--claro);
    animation: flutuar 5s ease-in-out infinite;
    margin-bottom: 7vh;
}

.sobre {
    padding: 6rem 2rem;
    
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 30px;
}

.sobre-caixa {
    padding: 2rem;
    width: 40vw;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(225, 225, 225, 0.05);
}

.sobre-paragrafo {
    text-align: justify;
    font-size: 1.9rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.3);
    transform: translateY(-10px) scale(1.03);
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(225, 225, 225, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;

}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info-projetos {
    margin-bottom: 5px;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.caixa-textos-projeto {
    padding: 1.5rem;
}

.habilidades {
    padding: 6rem 2rem;
}

.habilidade-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.box {
    background-color: rgba(225, 225, 225, 0.05);
    /* azul */
    color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(79, 70, 229, 0.3);
    border: 1px solid var(--vidro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

.box p {
    text-align: justify;
}

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    background-image: radial-gradient(var(--maisEscuro), rgba(225, 225, 225, 0.05));
}

.box2 a{
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box2 img{
    width: 50px;
    height: 50px;
}

.paragrafo-footer{
font-size: 1.2rem;
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%), radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%) var(--maisEscuro);
}



@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@media screen and (max-width: 1500px){
    .cabecalho .foto-perfil{
        width: 250px;
        height: 250px;
    }
}